/* LIGHT THEME */
body.light-theme {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

/* DARK THEME */
body.dark-theme {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

/* CLASSIC THEME */
body.classic-theme {
  background-color: #22179E;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

/* HEADER */
header {
  background: linear-gradient(135deg, #91a1a8 0%, #819aa5 48%, #255569 100%);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: inherit;
  font-family: 'Roboto', sans-serif;
}

header .logo img {
  height: 50px;
}

header .nav-links a {
  margin: 0 15px;
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

header .cta-buttons button {
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

header .cta-buttons button:hover {
  background-color: #91A1A8;
}

.theme-selector {
  display: flex;
  align-items: center;
}

.theme-selector select {
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}
