
header {
  background-color: #91A1A8;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo img {
  height: 50px;
}

header .nav-links a {
  margin: 0 15px;
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}

header .cta-buttons button {
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

header .cta-buttons button:hover {
  background-color: #91A1A8;
}

#login {
  color: aqua;
}